@model ResetPasswordModel


<div style="border-top: 5px solid #bc0643;" class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Reset Password</h2>
        </div>
        <div style="margin: 19px 42px;" class="row clearfix">
            <div class="">

                <form asp-controller="Users" asp-action="ResetPassword" method="post" role="form">


                    <div asp-validation-summary="All" class="text-danger"></div>
                   
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Email" />

                    
    
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input asp-for=Password type="password" placeholder="Password" required />

                    </div>


                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input asp-for=ConfirmPassword type="password" placeholder="Confirm Password" required />

                    </div>



                    <input style="background: #dc3545;" class="button" type="submit" value="Reset" />
                </form>
            </div>
        </div>
    </div>
</div>
<p style="color:red" class="credit">Developed by Design the way</p>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}