@{
    Layout = "_Layout";
}



<div style="border-top: 5px solid #0a16e0;" class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2 style="color:#0a16e0;">@TempData["Title"]</h2>
        </div>
        <div style="margin: 19px 42px;" class="row clearfix">
            <div class="">

                <p style="color:black;"> @TempData["Message"]</p>
              
              
            </div>
        </div>
    </div>
</div>
<p style="color:red" class="credit">Developed by Design the way</p>


































@*<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body style="background-color: #f4f4f4; font-family: Roboto, arial, sans-serif">
    <div style="background-color: #35b8e8; height: 140px;">
    </div>
    <div style="max-width: 550px; background-color: white; margin: -80px auto 0 auto; padding: 20px 60px 80px 60px;">
        <div style="  font-size: 30px; font-weight: 300; margin-top: 20px; text-align: center;"> @TempData["Title"]</div>
        <br />
        <p>@TempData["Message"]</p>
        <div class=" box-sizing: border-box; width: 100%;">
            <br />
            <br />

      
                    <div style="font-size: 18px; text-align: center" class="button-group-area mt-40">
                        <a asp-controller="users" asp-action="login" class="genric-btn warning circle">
                            Login
                        </a>

                    </div>
              


        </div>
    </div>
</body>

</html>*@